NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_NAME="Hilaac"
NEXT_PUBLIC_APP_URL=https://hilaac.so
OPENAI_API_KEY=
ENCRYPTION_SECRET_KEY=
CRON_SECRET=
EVC_API_BASE_URL=
EDAHAB_API_BASE_URL=
